<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-10  mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="p-4">プロフィール編集</h5>
      <%= form_with model:@user,class:"p-4", local:true do |f| %>
      <div class="input-group mb-3 mt-4">
      <div class="input-group-pretend">
        <span class="input-group-text" aria-hidden="true">Name</span>
      </div>
        <%= f.text_field :name, class:"form-control" ,autofocus: true, id:"inputName",placeholder:"名前" %>

        <div class="input-group mb-3 mt-4">
          <span class="input-group-text">ProfileImage</span>
        </div>
        <%= attachment_image_tag @user,:profile_image,:fill,60,60, class:"mr-3", fallback:"no_image.jpg" %>

        <%= f.attachment_field :profile_image, class:"mb-4 mt-4", placeholder:"プロフィール画像" %>
        <%= f.submit "変更を保存",class:"btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
